body {
    background-color: #9DB2BF;
}

.btn-custom {
    background-color: #526D82; 
    color: white;            
    border: 1px solid #DDE6ED; 

}

/* Custom Navbar Styles */
.navbar {
    background-color: #526D82 !important; /* Dark background color */
    color: #fff !important; /* White text color */
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: #ffffff !important; /* Ensuring the text color is white for all navigation items */
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #ffffff !important; /* Lighter shade for hover/focus states */
}


.modal-content {
    background-color: #4682b4; /* Light blue */
}


.modal-header {
    background-color: #4682b4; /* Steel blue */
    color: #ffffff; /* White text */
}


/* Custom styles for icon buttons */
.icon-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.icon-button:focus {
    outline: none;
}

.icon-button i {
    font-size: 1.5rem; /* Adjust the icon size if needed */
    color: #000000; /* Icon color */
}

/* Optionally add hover effects */
.icon-button:hover i {
    color: #4682b4; /* Change color on hover */
}

.px-custom {
    padding-left: 12rem;  /* Adjust this value as needed */
    padding-right: 12rem; /* Adjust this value as needed */
}




.dropdown-menu {
    width: 600px !important;  /* Adjust the width as needed */
}
.dropdown-menu .row {
    margin: 0!important; /* Remove default margin from rows */
}
.dropdown-item {
    width: 33.33%!important; /* 3 items per row */
    padding: 0.5rem!important;
}

.navbar-brand img {
    width: 100%!important;
    height: auto!important;
    max-height: 60px!important; /* Adjust as needed */
}




